<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="checkPhrase" value="poultry outwits ants"/>
    <add key="wordListLocation" value="../../wordlist.txt"/>
    <add key="checkHashEasy" value="e4820b45d2277f3844eac66c903e84be"/>
    <add key="checkHashMedium" value="23170acc097c24edb98fc5488ab033fe"/>
    <add key="checkHashHard" value="665e5bcb0c20062fe8abaaf4628bb154"/>
    <add key="defaultNoOfWords" value="4"/>
  </appSettings>
</configuration>